body, h1, h2, h3, p, a, li, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  }
  
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6em;
}

.table-container {
    border: 1px solid #c2c2c2;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #d9d9d9;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
background: #50b3a2;
padding: 20px 0;
color: white;
}

header a {
color: #ffffff;
text-decoration: none;
text-transform: uppercase;
font-size: 16px;
}

header ul {
padding: 0;
list-style-type: none;
overflow: hidden;
}

header ul li {
float: left;
display: inline;
padding: 0 20px 0 20px;
}

header ul li a:hover {
background: #ffffff;
color: #d12020;
}

.button, a.button {
    box-sizing: border-box;
}

button, a {
    margin: 0;
    border: none;
    font: inherit;
    color: inherit;
    background: none;
    padding: 0;
}

.button, a.button {
    height: 40px; /* o cualquier otro valor adecuado */
    line-height: 40px; /* el mismo valor que la altura */
}

.button{
display: inline-block;
color: #ffffff;
background: #50b3a2;
padding: 10px 20px;
margin: 20px 0;
border-radius: 5px;
text-decoration: none;
transition: background 0.3s ease-in-out;
}

.button:hover {
background: #333;
color: #ffffff;
}

@keyframes fadeIn {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

.fade-in {
animation-name: fadeIn;
animation-duration: 1.5s;
}

select {
width: 100%;                /* Ancho completo */
padding: 10px 15px;         /* Espaciado interno */
border-radius: 5px;         /* Bordes redondeados */
border: 1px solid #c2c2c2;  /* Bordes */
font-size: 16px;            /* Tamaño del texto */
appearance: none;           /* Quita el estilo predeterminado del navegador */
-webkit-appearance: none;   /* Quita el estilo predeterminado para Safari */
-moz-appearance: none;      /* Quita el estilo predeterminado para Firefox */
background-color: #f9f9f9;  /* Color de fondo */
cursor: pointer;            /* Cambia el cursor a una mano cuando pasas por encima */
}

/* Estilos para las opciones <option> dentro del <select> */
option {
padding: 10px;              /* Espaciado interno */
}

textarea {
width: 100%;                 /* Ancho completo */
padding: 10px 15px;          /* Espaciado interno */
border-radius: 5px;          /* Bordes redondeados */
border: 1px solid #c2c2c2;   /* Bordes */
font-size: 16px;             /* Tamaño de fuente */
background-color: #f9f9f9;   /* Color de fondo */
resize: vertical;            /* Permite al usuario redimensionar solo verticalmente */
}