{% block content %}
  <h2>Accede a tu cuenta</h2>
  <form method="post">
    {% csrf_token %}
    <label for="username">Nombre de usuario:</label>
    <input type="text" name="username" required>
    <label for="password">Contraseña:</label>
    <input type="password" name="password" required>
    <button type="submit">Acceder</button>
  </form>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
