{% block content %}
  <h2>Registro de Llamadas</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Registrar Llamada</button>
    <button type="button">Atrás</button>
  </form>
  <h3>Llamadas Registradas</h3>
  <table>
    <tr>
      <th>Nombre del Asistente</th>
      <th>Hora de la Llamada</th>
      <th>Resultado Llamada</th>
    </tr>
    {% for llamada in llamadas %}
      <tr>
        <td>{{ llamada.asistente }}</td>
        <td>{{ llamada.hora }}</td>
        <td>{{ llamada.get_resultado_display }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
